*~
core.*
*.[oa]
*.patch
*.orig
*.tar.gz
*.diff

#Waves and constructs
*/cov_work/*
*.trn
*.shm
*.dsn

# ius results are not for the vc
irun.log
INCA_libs
.simvision
irun.key
xcelium*
*xrun*

# created by flow
*.fails
qa

# vcs results are not for the vc
csrc
simv*
vc_hdrs.h
ucli.key
*.err

# editor tmp / save files
*.orig
*.swp
*.swo

# questa results are not for the vc
vsim.wlf
wlf*
questa.tops
questa.fails*
work
*.vstf
*.log
transcript
*.out